* {
  background-color: rgb(247, 255, 255);
  border: 0;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 30px;
}

.create-form {
  display: flex;
  justify-content: center;
}

.Fieldset {
  align-items: center;
  border: 2px solid rgb(72, 72, 72);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 1500px;
  max-width: 1000px;
  min-height: 500px;
  min-width: 500px;
}

.Inputs {
  border: 2px solid rgb(170, 170, 170);
  border-radius: 5px;
  margin-top: 30px;
}

.checkBox {
  border: none;
}

.cardPreview {
  border: 2px solid rgb(255, 106, 106);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 10px;
  width: 250px;
}

.card {
  border: 2px solid rgb(112, 213, 112);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 5px;
  width: 250px;
}

.main-contain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-contain {
  display: flex;
  padding: 15px;
}
